---
layout: default
---

<div class="home"> 

  <div class="recipes xs-px1 xs-mt2">
    <div class="clearfix">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

      <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
          <a class="block relative bg-blue" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
          </a>
      </div>
    {% endfor %}
  </div>
  </div>
 
  <div class="container mt4 mb4">
    <div class="sm-col-6 mx-auto px3 sm-px4">
  <p>Hey folks!</p>
  <p>My name's Ema and welcome to <strong>piggycooks.com</strong>, a plain text recipe database for hackers. This is a fork of Chowdown, by the amazing <a href="https://twotter.com/clarklab">Clarklab</a>. Thank to him for such amazing work!!!</p>

  <p>This website will host all of the recipes I use to cook for my partners, as well as just serve as a cool database for me personally.  I hope you enjoy it as much as I do!</p>

  
<p>You can find the original code for chowdown <a href="chowdown.io">Here.</a>

<p>I hope you enjoy some of my recipes!</p>
<p><a href="https://twitter.com/metasploink">Ema</a>
  </div>
  </div>

</div>